<div class = "afterEventsDiv">


  <div class="event-1">
    <h3>Dinner @ Attica</h3>
    <h4>Time: 7pm - 10pm</h4>
    <h4>Address: 74 Glen Eira Rd,Ripponlea</h4>
    <img src="/images/..." alt="">
  </div>


  <div class="event-4">
    <h3>Dinner @ Crown</h3>
    <h4>Time: 7pm - 11pm</h4>
    <h4>Address: 130/8 Whiteman St, Southbank</h4>
    <img src="/images/..." alt="">
  </div>


  <div class="event-3">
    <h3>Party @ Bond</h3>
    <h4>Time: 10pm - up to 6am</h4>
    <h4>Address: 24 Bond St, CBD</h4>
    <img src="/images/..." alt="">
  </div>


</div>

<!-- <h2><a href="/map">go to map to see all locations</a></h2> -->
<!-- Please 'like' the event so that we can estimate the number of guests and make reservations -->
