

<div class="video-background">

  <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ?modestbranding=1" allowfullscreen>
      </iframe>
  </div>

  <div class="overlay">
    <div class="title">
      <img src="images/logo.png" alt="">
    </div>
  </div>

</div>

<div class="about">
  <div class="container">
    <p>About Us</p>
  </div>
</div>

<div class="speakers">
  <div class="container">
    <p>Speakers</p>
    <%= render "partials/speakers" %>
  </div>
</div>

<div class="timetable" id="default">
  <div class="container">
    <p>Timetable</p>
  </div>
</div>

<div class="location">
  <div class="map-holder">
    <div class="map-left">
      <div id='map-jordan'></div>
    </div>
    <div class="map-right">
      <div class="map-nav-holder">
        <div class="map-nav" id="map-nav">

        </div>
      </div>
      <section class="map-information active" id="event-location">
        <h3>Location</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque reprehenderit modi libero ratione. Consectetur sit architecto sed dignissimos laudantium fuga sapiente molestias doloremque distinctio, esse, quos odio aliquam pariatur.</p>
      </section>
      <section class="map-information" id="route">
        <h3>Routes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eius quia eum quidem provident recusandae neque ut, a soluta harum quod repellendus magni consequuntur, laboriosam eaque officia ea necessitatibus accusamus.</p>
      </section>
      <section class="map-information" id="parking">
        <h3>Parking</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aut nam, adipisci laborum amet libero. Eligendi error consectetur molestias sit vel voluptates autem officia tempore dicta, odit. Iure, maxime, ea.</p>
      </section>
    </div>
  </div>
</div>

<div class="after-events" id="default">
  <div class="container">
    <p>After Events</p>
  </div>
</div>

<!-- <div class="booking">
  <p>Booking</p>
</div> -->

<div class="sponsors">
  <div class="container">
    <p>Sponsors</p>
  </div>
</div>

<footer>
  <div class="container">
    <div class="info">

    </div>
    <div class="disclaimer">
      <div class="left50">
        <img src="images/temp logo.png" alt="" id='footer-logo'>
        <p>&copy; 2016 All rights reservered by the <span>HTML5's</span></p>
      </div>
      <div class="right50">
        <img src="images/social/social-facebook.png" alt="">
        <img src="images/social/social-twitter.png" alt="">
        <img src="images/social/social-meetup.png" alt="">
      </div>
    </div>
  </div>
</footer>

<div class="style-guide">
  <h1>Lorem Ipsum</h1>
  <h2>Lorem Ipsum</h2>
  <h3>Lorem Ipsum</h3>
  <h4>Lorem Ipsum</h4>
  <h5>Lorem Ipsum</h5>
  <p>Lorem Ipsum</p>
  <a href="">Lorem Ipsum</a>
  <button>Lorem Ipsum</button>
  <form action="">
    <input type="text">
    <input type="text">
    <input type="text">
    <button>Lorem Ipsum</button>
  </form>


  <p>Style Guide</p>
</div>

<%= render "partials/quiz" %>


<script
src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/1.1.4/stickyfill.min.js"></script>

<script>

  // Mute Header Video
  iframeMute = $('.video-foreground')
  iframeMute.muted = true;

  // Map Container, same height as information div
  $(".map-left").css("height", $(".map-right").height());

  // Map / Map Nav becomes fixed for period during scroll
  var mapSticky = document.getElementById('map-jordan');
  var mapNavSticky = document.getElementById('map-nav');
  Stickyfill.add(mapSticky);
  Stickyfill.add(mapNavSticky);

</script>



<!-- MAP SCRIPT -->

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.js'></script>

 <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.css' rel='stylesheet' />

 <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.2.0/mapbox-gl-directions.js'></script>

 <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.2.0/mapbox-gl-directions.css' type='text/css' />

<script src="map_index.js"></script>
