

<div class="video-background">

  <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ?modestbranding=1" allowfullscreen>
      </iframe>
  </div>

  <div class="overlay">
    <div class="title">
      <img src="images/logo.png" alt="">
    </div>
  </div>

</div>

<div class="about">
  <p>About Us</p>

</div>

<div class="speakers">
  <p>Speakers</p>
  <%= render "partials/speakers" %>
</div>

<div class="timetable">
  <%= render "partials/timetable" %>
</div>




<!-- Map -->
<div class="loc">
  <p><a id = link-to-map href="/map">Location / Map</a></p>
</div>

<!-- Map -->





<div class="after-events">
  <p>After Events</p>
</div>

<div class="booking">
  <p>Booking</p>
</div>

<div class="sponsors">
  <p>Sponsors</p>
</div>

<footer>
  <div class="container">
    <div class="info">

    </div>
    <div class="disclaimer">
      <div class="left50">
        <img src="images/temp logo.png" alt="" id='footer-logo'>
        <p>&copy; 2016 All rights reservered by the <span>HTML5's</span></p>
      </div>
      <div class="right50">
        <img src="images/social/social-facebook.png" alt="">
        <img src="images/social/social-twitter.png" alt="">
        <img src="images/social/social-meetup.png" alt="">
      </div>
    </div>
  </div>
</footer>

<div class="style-guide">
  <h1>Lorem Ipsum</h1>
  <h2>Lorem Ipsum</h2>
  <h3>Lorem Ipsum</h3>
  <h4>Lorem Ipsum</h4>
  <h5>Lorem Ipsum</h5>
  <p>Lorem Ipsum</p>
  <a href="">Lorem Ipsum</a>
  <button>Lorem Ipsum</button>
  <form action="">
    <input type="text">
    <input type="text">
    <input type="text">
    <button>Lorem Ipsum</button>
  </form>


  <p>Style Guide</p>
</div>

<%= render "partials/quiz" %>


<script
src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/1.1.4/stickyfill.min.js"></script>

<script>

  // Mute Header Video
  iframeMute = $('.video-foreground')
  iframeMute.muted = true;


</script>
