<div class="video-background">

  <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ?modestbranding=1" allowfullscreen>
      </iframe>
  </div>

  <div class="overlay">
    <div class="title">
      <h1>WDI</h1>
      <h2>CONFERENCE</h2>
      <h3>2016</h3>
      <h2>Technology, Coding, Engineering</h2>
      <p>hey</p>
    </div>
  </div>

</div>

<div class="about">
  <p>About Us</p>

</div>

<div class="speakers">
  <p>Speakers</p>
</div>

<div class="timetable">
  <p>Timetable</p>
</div>

<div class="location">
  <p>Location</p>
</div>

<div class="after-events">
  <p>After Events</p>
</div>

<div class="booking">
  <p>Booking</p>
</div>

<div class="sponsors">
  <p>Sponsors</p>
</div>

<div class="style-guide">
  <h1>Lorem Ipsum</h1>
  <h2>Lorem Ipsum</h2>
  <h3>Lorem Ipsum</h3>
  <h4>Lorem Ipsum</h4>
  <h5>Lorem Ipsum</h5>
  <p>Lorem Ipsum</p>
  <a href="">Lorem Ipsum</a>
  <button>Lorem Ipsum</button>
  <form action="">
    <input type="text">
    <input type="text">
    <input type="text">
    <button>Lorem Ipsum</button>
  </form>


  <p>Style Guide</p>
</div>


<script>

  iframeMute = $('.video-foreground')
  iframeMute.muted = true;

</script>
