<!-- ========================  MAP FROM GOOGLEMAPS-->
<!-- <div class="distanceMap">

    <div id="floating-panel">
      <b>Mode of Travel: </b>
      <select id="mode">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
      </select>
    </div>

    <div id="mapDis"></div>

</div> -->

<!-- PROBABLY NEED NEW API KEY ?? -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-_tjRXvZwDBMsFKx2He46Jv3MBw-_oT0&libraries=places&callback=disMap"
        async defer></script> -->

<!-- ========================  MAP FROM GOOGLEMAPS-->






<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
<div id='map'></div>
<script>
  navigator.geolocation.watchPosition(render);

  function render(pos) {
      var lat = pos.coords.latitude;
      var lng = pos.coords.longitude;
      geocode(lat, lng);
  }

  function geocode(lat, lng) {
    var geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          address = results[1].formatted_address;
          makeMap(lat, lng, address);
        } else {
          alert('No results found');
        }
      } else {
        alert('Geocoder failed due to: ' + status);
      }
    });
  }

  function makeMap(lat, lng, address) {
      var map = L.mapbox.map('map', 'examples.map-20v6611k')
          .setView([lat, lng], 8);
      geojson = {
        type: 'Feature',
        geometry: {
            type: 'Point',
            // coordinates here are in longitude, latitude order because
            // x, y is the standard for GeoJSON and many formats
            coordinates: [lng, lat]
        },
        properties: {
            title: address,
            description: lat.toString() + ', ' + lng.toString(),
            // one can customize markers by adding simplestyle properties
            // http://mapbox.com/developers/simplestyle/
            'marker-size': 'large',
            'marker-color': '#f0a',
        }
      };
      map.markerLayer.setGeoJSON(geojson).openPopup();
  };
</script>








<!-- ========================  MAP FROM MAPBOX -->
<!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:80%; height: 80% }
    </style>


<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.2.0/mapbox-gl-directions.js'></script> -->
  <!-- <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.2.0/mapbox-gl-directions.css' type='text/css' /> -->
<!-- <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.css' rel='stylesheet' /> -->
<!-- <div id='map'></div> -->

<!-- <script>

mapboxgl.accessToken = 'pk.eyJ1IjoibWFnZGFsZW5hYmlhbG9uIiwiYSI6ImNpc2p3cnUwczAycXcyem9jYXpzZWZ6eW4ifQ.RWDUb9U9vdUlNuKcPGJDhg';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/basic-v9', //mapbox://styles/mapbox/streets-v9'
    center: [144.958998, -37.818535],
    zoom: 13
});

map.addControl(new mapboxgl.Directions());

var directions = new mapboxgl.Directions({
  unit: 'metric', // Use the metric system to display distances.
  profile: 'driving', // Set the initial profile to walking.
  container: 'directions', // Specify an element thats not the map container.
  proximity: [144.96, -37.82] // Give search results closer to these coordinates higher priority.
});



map.on('load', function() {
  // directions.setOrigin([ -37.818535, 144.958998]); // On load, set the origin to "Toronto, Ontario".
  // directions.setDestination([-37.828535, 144.958998]); // On load, set the destination to "Montreal, Quebec".
  directions.setOrigin([ 144.758998, -37.918535 ]); // On load, set the origin to "Toronto, Ontario".
  directions.setDestination([ 144.958998, -37.818535 ]); // On load, set the destination to "Montreal, Quebec".
  // directions.query();
});

directions.on('route', function(e) {
  console.log(e.route); // Logs the current route shown in the interface.
});
</script> -->





<!-- ========================  MAP FROM MAPBOX -->




<!-- ========================  WEATHER  -->
<div class = "weather">
  <div id="cont_21d71ee597e69cbb9fd0e2e85960b55e"></div>
</div>
<script type="text/javascript" async src="https://www.theweather.com/wid_loader/21d71ee597e69cbb9fd0e2e85960b55e"></script>
<!-- ========================  WEATHER  -->






<!-- ========================  PARKING MAP  -->
<!-- <div><iframe width="760px" title="wdi_conf" height="646px" src="https://data.melbourne.vic.gov.au/w/m4j7-darc/spy9-nmud?cur=jBdT_JGn9RO&from=root" frameborder="0"scrolling="no"><a href="https://data.melbourne.vic.gov.au/Property-Planning/wdi_conf/m4j7-darc" title="wdi_conf" target="_blank">wdi_conf</a></iframe></div> -->
<!-- ========================  PARKING MAP  -->
