<h1>Location</h1>

<!-- <div class="distanceMap">

    <div id="floating-panel">
      <b>Mode of Travel: </b>
      <select id="mode">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
      </select>
    </div>

    <div id="mapDis"></div>

</div> -->





<div class = "weather">
  <div id="cont_21d71ee597e69cbb9fd0e2e85960b55e"></div>
</div>



<!-- <div><iframe width="760px" title="wdi_conf" height="646px" src="https://data.melbourne.vic.gov.au/w/m4j7-darc/spy9-nmud?cur=jBdT_JGn9RO&from=root" frameborder="0"scrolling="no"><a href="https://data.melbourne.vic.gov.au/Property-Planning/wdi_conf/m4j7-darc" title="wdi_conf" target="_blank">wdi_conf</a></iframe></div> -->





<script type="text/javascript" async src="https://www.theweather.com/wid_loader/21d71ee597e69cbb9fd0e2e85960b55e"></script>

<!-- PROBABLY NEED NEW API KEY ?? -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-_tjRXvZwDBMsFKx2He46Jv3MBw-_oT0&libraries=places&callback=disMap"
        async defer></script>
