<!-- <div id="editorDiv">
  <label id="instructionLabel"></label>
    <pre id="editor">

    </pre>
    <button id="submitQuizButton">submit</button>
    <div id="quizResult"></div>
</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="ace.js" type="text/javascript" charset="utf-8"></script>
<script src="acecustom.js" type="text/javascript" charset="utf-8"></script> -->
