<div class="home">
    <div class="container">
        <div class="login-page clearfix">
          <div class="logged-in-box auth0-box logged-in">
            <h2>Hi, <%= @user.name %></h2>
            <h4> <%= @user.email %> </h4>
            <img src="<%= @user.image_url %> " alt="user_avatar">
            <!-- <%= @user.inspect%> -->
          </div>
        </div>
    </div>
</div>
