<h3> booking stuff </h3>



<%= render "partials/payment" %>



<form action="/bookings" method="POST" id="payment-form">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" value="4242424242424242">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YY)</span>
      <input type="text" size="2" data-stripe="exp_month" value="12">
    </label>
    <span> / </span>
    <input type="text" size="2" data-stripe="exp_year" value="17">
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc" value="123">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Billing Zip</span>
      <input type="text" size="6" data-stripe="address_zip" value="12345">
    </label>
  </div>

  <input type="submit" class="submit" value="Submit Payment">
</form>

<!-- <script type="text/javascript" src="stripe.js"></script> -->

<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_yojSr1TOZyi7eMOOwCox9qhA');
</script>


<script type="text/javascript">

  $(function() {
    var $form = $('#payment-form');
    $form.submit(function(event) {
      console.log('disable submit');
      // Disable the submit button to prevent repeated clicks:
      $form.find('.submit').prop('disabled', true);

      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from being submitted:
      return false;
    });
  });


  function stripeResponseHandler(status, response) {
    // Grab the form:
    console.log('stripeResponseHandler');

    var $form = $('#payment-form');

    if (response.error) { // Problem!

      // Show the errors on the form:
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.submit').prop('disabled', false); // Re-enable submission

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;

      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));

      // Submit the form:
      $form.get(0).submit();
    }
  };

</script>
