<!-- THIS SHOWS AT BOTTOM OF INDEX UNFORTUNATELY -->
<!-- <h1>quiz<h1> -->


<div class="quizmodal-overlay">
  <div class="quizmodal-info">
    <p class="close-modal">X</p>

    <section class="quizSection">
      <div id="instructionLabelHeader">
       <label id="instructionLabel"></label>
     </div>

      <pre id="editor"></pre>

  <!-- have a delay, then auto redirect them -->


      <!-- </div> -->

    </section>


    <div class="submitButtonDiv">
        <button id="submitQuizButton">Submit</button>
    </div>
    <div id="quizResult"></div>
    <div class="quizFinished">
     <a id="newBooking" href="/bookings/new">Book Seats</a>
   </div>
  </div>
</div>


<!-- <script src="ace.js" type="text/javascript" charset="utf-8"></script> -->
<script src="acecustom.js" type="text/javascript" charset="utf-8"></script>
