<h1>quiz<h1>


<div class="quizmodal-overlay">
  <div class="quizmodal-info">
    <p class="close-modal">X</p>
    <img class="macbookImage" src="images/macbookpro.png" alt="">


    <i class="fa fa-credit-card" aria-hidden="true"></i>

      <!-- <h2 class="booking-top">BOOKING</h2>
      <div class="booking-amount"><p class="total-amount"></p></div> -->
      <div class="input-container-payment">
      </div>
        <!-- <input type="date" name="expiration-date" class="payment-input">
        <input type="text" name="cvv" value="" placeholder="CVV" maxlength="3" class="payment-input"><br>
        <i class="fa fa-btc" aria-hidden="true"> Bitcoin Accepted</i>
        <button type="button" name="button">PAY NOW</button> -->

      <!-- <p class="terms">A $500 processing fee may occur. We hope you'll enjoy our conference.</p> -->
  </div>
</div>
