<style>


.floorPlan {
  width: 90%;
  /*height: 60vh;*/
  margin: 0 auto;
  background-color: black;
  max-width: 800px;
  padding: 5px;
}


.seatingRow {
  text-align: center;
}

.seating-wrap {
    text-align: center;
}

.seat {
  display: inline-block;
  background-color: #ECECEC;
  /*width: 6vw;
  height: 6vw;*/
  width: 50px;
  height: 50px;
  margin: 0.5vw 0.5vw;
  border-radius: 6px;
  vertical-align: top;
  line-height: 50px;
  color: transparent;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
}

.selected {
  background-color:#73FBD3;
  color:black;
}

.seat:hover {
  background-color:#73FBD3;
  opacity:0.8;
  transition:0.5s;
  color:black;
}



.taken {
    opacity: 0.5;
    pointer-events: none;
}

/*.seat {
  width: 10%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: red;
}*/
/*.seat > img {
  width: 100%;
  height: auto;
  transition: 0.8s;
  padding: 2px;
}*/

/*.seat > img:hover {
  background-color: rgba(255, 4, 4, 0.6);
  border-radius: 5px;
}

.seat > img.selected{
  background-color: rgb(170, 112, 205);
  color: white;
}*/

</style>



<div class="floorPlan"></div>

<script type="text/javascript">

$(document).ready(function(){

  drawPage()
}
);


function convertToRow(num) {
  switch(num) {
    case 0:
      return "A";
    case 1:
      return "B";
    case 2:
      return "C";
    case 3:
      return "D";
    case 4:
      return "E";
    case 5:
      return "F";
    case 6:
      return "G";
    case 7:
      return "H";
    case 8:
      return "I";
    case 9:
      return "J";
    }
}

function getSelectedSeats() {
  var seatsArr = [];
  $('.selected').each(function(index, value) {
    var seatNum = this.id;
    seatsArr.push(seatNum);
  })
  return seatsArr;
}

function getSelectedSeatsString() {
  var returnString = "";
  $('.selected').each(function(index, value) {
    var seatNum = this.id;
    returnString = returnString + '-' + seatNum
  })
  return returnString;
}

  // Function for displaying order summary at footer bar of page.
  function displaySummary() {
    var ticketCost = 499.00;
    var ticketCostStripe = 49900;

    var seats = $('.selected').length
    var selectedTotal = seats * ticketCost;
    var selectedTotalStripe = seats * ticketCostStripe;

    $('#paymentAmount').val(selectedTotalStripe);

    var summary = '';

    if (seats === 0) {
      summary = '';
      return summary;
    } else {
      summary = seats + '&nbsp;&nbsp;Ticket(s)&nbsp;|&nbsp;&nbsp;&nbsp; Total : &nbsp; $ ' + selectedTotal;
      return summary;
    }

    $('.ordersBar').html(displaySummary());
  }

// seats_list_string

function drawPage() {

  var rowWidth = 10
  var columnWidth = 6
//get the current seats that are taken.
  $.ajax({
      url: '/api/seats'
    }).done(function(seats) {

    seatArray = seats.slice(1).split('-');
    seatArray.forEach(function(seat) {
      console.log(seat);
      $('#'+seat).addClass("taken")
    })

});

  // Generating seat row and column for the floorplan
  for (var i = 0; i < columnWidth; i++) {
    var $row = $('<div>').addClass('seatingRow')
    for (var j = 0; j < rowWidth; j++) {
      var row = convertToRow(j);
      var div = ($('<div>').addClass('seat').attr("id",row+[i+1]).text(row+[i+1]))
      $row.append(div)
    }
  $('.floorPlan').append($row)
  }

  $(".seat").click(function() {
    $(this).hasClass("selected") ? $(this).removeClass("selected") : $(this).addClass("selected")

  $('.seats-list').val(getSelectedSeats());
  $('.seats-list-string').val(getSelectedSeatsString());

  // Append summary total to html:
  $('.orders-bar').html(displaySummary())

  });

}
</script>
