<div id = "Sponsors-wrapper">

  <div class="sponsors-div">

    <div id = "firstDiv-sponsors" >

      <div class="sponsor1">
        <img src="/images/sponsors/google-logo.png" alt="" class="sponsors-logos">
      </div>

      <div class="sponsor2">
        <img src="/images/sponsors/LinkedIn-logo.png" alt="" class="sponsors-logos">
      </div>

      <div class="sponsor3">
        <img src="/images/sponsors/fb-logo.jpeg" alt="" class="sponsors-logos">
      </div>

      <div class="sponsor4">
        <img src="/images/sponsors/twitter-logo.png" alt="" class="sponsors-logos">
      </div>

    </div>


    <div id = "secondDiv-sponsors" >

      <div class="sponsor5">
        <img src="/images/sponsors/metro-logo.png" alt="" class="sponsors-logos">
      </div>

      <div class="sponsor6">
        <img src="/images/sponsors/envato-logo.png" alt="" class="sponsors-logos">
      </div>

      <div class="sponsor7">
        <img src="/images/sponsors/zendesk-logo.png" alt="" class="sponsors-logos">
      </div>

      <div class="sponsor8">
        <img src="/images/sponsors/esri-logo.jpeg" alt="" class="sponsors-logos">
      </div>

    </div>


    <div id = "thirdDiv-sponsors" >

      <div class="sponsor9">
        <img src="/images/sponsors/bank-logo.png" alt="" class="sponsors-logos">
      </div>

      <div class="sponsor10">
        <a href="https://github.com/epoch/hipstarter"><img src="/images/sponsors/hipstarter-logo.jpeg" alt="" class="sponsors-logos"></a>
        <h6><a href="https://github.com/epoch/hipstarter">Hipstarter | Use now or cry later</a></h6>
      </div>

      <div class="sponsor11">
        <a href="https://thehairprojekt.herokuapp.com/"><img src="/images/sponsors/theHair-logo.png" alt="" class="sponsors-logos"></a>
      </div>

    </div>

  </div>


</div>
