<style>
.orders-bar {
    width: 100%;
    height: 50px;
    background-color: #444341;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 1.1em;
}

/*.ordersshow {
    transition: 0.8s;
    transform: translateY(0);
}*/

.pageHeader {
  text-align: center;
  color: white;
}

h4.pageHeader {
  padding-bottom: 10px;
}
.bookingMainDiv {
  background-color: black;
}

</style>

<div class="home-button">
  <a href="/">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
</div>

<div class="bookingMainDiv">

<h4 class="pageHeader">Seat Selection</h4>
<%= render "partials/seatselection" %>

<div class="orders-bar"></div>

<%= render "partials/booking" %>

<input type="hidden" name="seats_list" value="" class="seats-list">
<input type="hidden" name="seats_list_string" value="" class="seats-list-string">

session[:userinfo]["id"]
</div>
