<div id="seat_selection_page">

  <div class="seat_selection_page_title">
    <h1>Purchase Tickets</h1>

    <div id="seat_selection">
    <!-- discuss with team how am i to link this page with the database of seats -->
    </div>

    <!-- Form action goes here to get information from db-->


    <button class="checkout_button ">Check Out</button>


    <div class="total_bar">

    </div>

  </div>
</div>

<!-- I'm guessing add some AJAX function here? -->
