.distanceMap {
  width: 90%;
  text-align: center;
  margin: 90px auto;
}

#mapDis {
  height: 350px;
  width: 100%;
  border: 1px solid grey;
}

#floating-panel {
  /*position: absolute;*/
  /*top: 10px;
  left: 25%;
  z-index: 5;*/
  width: 100%;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
