

/* ////////////////////// VARIABLES ////////////////////// */

// Fonts
$serif: 'Lora', serif;
$sans-serif: 'Roboto', sans-serif;

// Colours
$bg-grey: #f3f3f3;
$dark-grey: #4a4a4a;
$light-grey: #848484;
$gold: #b09e82;
$white: white;

// Background Patterns (Not Sure if we will actually implement these)
$dot-pattern: url('/images/patterns/subtle_dots.png');





/* ////////////////////// GLOBAL STYLES ////////////////////// */

* {
  box-sizing: border-box;
  font-family: $sans-serif;
}

//TEMP
.style-guide {
  height: 500px;
  background-color: white;
  padding: 50px 30px 50px 100px;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $dot-pattern;
}

.wrapper {
  width: -webkit-calc(100% - 70px);
  width:    -moz-calc(100% - 70px);
  width:         calc(100% - 70px);
  height: 100%;
  margin: 0px 0px 0px 70px;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {

}

button {

}




/* ////////////////////// NAVIGATION  ////////////////////// */

nav {
  display: block;
  position: fixed;
  width: 70px;
  height: 100%;
  background-color: rgb(32, 32, 32);
  margin: 0;
  top: 0;
  left: 0;
  box-shadow: 3px 0px 7px rgba(#000000, 0.5);
  z-index: 5000;

  i {
    font-size: 1.5em !important;
  }

}

.nav-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.nav-item {
  width: 100%;
  text-align: left;
  padding: 20px 0px 0px 0px;
  color: white;
  background-color: rgb(32, 32, 32);
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 1px solid rgb(59, 59, 59);

  i {
    padding-left: 25px;
    float: left;
    width: 70px;
  }

  p {
    display: none;
    float: left;
    line-height: 24px;
    padding: 3px 0 0 5px;
    margin: 0;
    color: rgb(201, 199, 199);
    font-size: 0.8em;

  }

  .nav-item:hover {
    background-color: rgb(60, 60, 60);
  }

}

.no-hover:hover {
  background-color: rgb(32, 32, 32);
  cursor: default;
}

#user-photo {
  width: 50px;
  border-radius: 50px;
}

footer {
  display: block;
  background-color: #2b2b2b;
  height: auto;
  margin: 0;
  padding: 80px 0px 80px 0px;
}

// Global Columns

.left50 {
  display: inline-block;
  width: 50%;
}

.right50 {
  display: inline-block;
  width: 49%;
}





/* ////////////////////// INDEX ////////////////////// */

.video-background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.video-foreground {
  height: 100%;
  width: 100%;
  z-index: 1;

  iframe {
    height: 100%;
    width: 100%;
    border: 0;
    z-index: 1
  }

}

// @media (min-aspect-ratio: 16/9) {
//     .video-foreground { height: 300%; top: -100%; }
// }
// @media (max-aspect-ratio: 16/9) {
//     .video-foreground { width: 300%; left: -100%; }
// }

.overlay {
  z-index: 100;
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  width: 330px;
  height: 330px;
  margin-top: -200px;
  padding: 5px;
  // background-color: rgba(0, 0, 0, 0.5);

  h1 {
    font-family: $sans-serif;
    // font-style: italic;
    font-size: 5em;
    margin: 0px;
    font-weight: bold;
  }

  h2 {
    font-family: $sans-serif;
    font-style: italic;
    font-size: 2.2em;
    margin: 0px;
  }

  h3 {
    font-family: $serif;
    font-style: italic;
    font-size: 7em;
    margin: 0px;
  }

  img {
    width: 100%;
  }

}

.container {
  max-width: 1000px;
  margin: 0px auto 0px auto;
}


// header {
//   display: block;
//   width: 100%;
//   height: 100%;
//   // background: url("https://www.bhmpics.com/walls/melbourne_at_night-wide.jpg");
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   background-color: grey;
// }

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.about {
  height: 500px;
  background-color: white;
  padding: 50px 30px 50px 100px;

}

.speakers {
  background-color: blue;
  padding: 50px 30px 50px 100px;

}

.timetable {
  height: 500px;
  background-color: plum;
  padding: 50px 30px 50px 100px;

}


// .location {
//   height: 500px;
//   // background-color: orange;
//   padding: 50px 30px 50px 100px;
// }


.after-events {
  height: 500px;
  background-color: mistyrose;
  padding: 50px 30px 50px 100px;

}

.booking {
  height: 500px;
  background-color: violet;
  padding: 50px 30px 50px 100px;

}

.sponsors {
  height: 500px;
  background-color: white;
  padding: 50px 30px 50px 100px;

}

footer {

  #footer-logo {
    display: inline-block;
    height: 25px;
  }

  .disclaimer p {
    display: inline-block;
    line-height: 25px;
    vertical-align: top;
    margin: 0;
    padding-left: 20px;
  }

  .disclaimer .right50 {
    text-align: right;
  }

  .disclaimer > .right50 img {
    height: 25px;
    padding: 2.5px 7.5px 2.5px 7.5px;
  }

}
