

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: mistyrose;
  height: 100%;
  position: flex;
}

nav {
  width: 10%;
  height: 100%;
  background-color: blue;
}

.header {
  width: 90%;
  height: 100%;
  background-color: plum;
}
