<!DOCTYPE html>
<html>
  <head>
    <title>Wdi Conf 2016</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  </head>

  <body>

    <nav>

      <div class="nav-top">

        <div class="nav-item">
          <i class="fa fa-home" aria-hidden="true"></i>
          <p>Home</p>
        </div>
        <div class="nav-item">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          <p>About</p>
        </div>
        <div class="nav-item">
          <i class="fa fa-users" aria-hidden="true"></i>
          <p>Speakers</p>
        </div>
        <div class="nav-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <p>Timetable</p>
        </div>
        <div class="nav-item">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
          <p>Location Map</p>
        </div>
        <div class="nav-item">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <p>After Events</p>
        </div>
        <div class="nav-item">
          <i class="fa fa-ticket" aria-hidden="true"></i>
          <p>Booking</p>
        </div>
        <div class="nav-item">
          <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
          <p>Sponsors</p>
        </div>

      </div>

      <div class="nav-bottom">

        <div class="nav-item">
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
          <!-- <p>Avatar</p> -->
        </div>
        <div class="nav-item">
          <i class="fa fa-user" aria-hidden="true"></i>
          <!-- <p>Account</p> -->
        </div>

      </div>

    </nav>

    <div class="wrapper">

      <%= yield %>

    </div>



    <script>

    // Keeps nav buttons height and width in ratio
    var width = $('.nav-item').width();
    $('.nav-item').css({ 'height' : width + 'px' });


    // Nav mouseover and mouseout handlers
    $('nav').mouseover(function(event) {
      $('nav').css({ 'width' : '250px' });
      $('nav').find('.nav-item p').css({ 'display' : 'block' });

    });

    $('nav').mouseout(function(event) {
      $('nav').css({ 'width' : '70px' });
      $('nav').find('.nav-item p').css({ 'display' : 'none' });
    });

    // $('nav').mouseover(function(event) {
    //   $('nav').animate({ width: "250px" });
    // });
    //
    // $('nav').mouseout(function(event) {
    //   $('nav').animate({ width: "70px" });
    // });

    </script>

  </body>
</html>
